@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #a1c3ff;
  /* text-align: center; */
}

h1, h2 {
  margin-bottom: -20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

img {
  margin-top: 45px;
  margin-bottom: 20px;
}

.container {
  max-width: 1100px;
  margin: auto auto;
  padding: 0 30px;
}

/*------------------------header section---------------------------*/

.header .container h1 {
  font-family: 'Tangerine', cursive;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*---------------------------buttons-------------------------------*/

.button button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*---------------------------button-no-style-----------------------*/

#noStyle{
  all: revert;
  margin-left: 10px;
}

/*------------------------navbar section---------------------------*/

.navbar {
  display: flex;
  background: #3474e6;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  margin: 30px;
}

.navbar ul li {
  margin-left: 20px;
}

/*-----------------------banner_box section------------------------*/

.banner_box .container {
  display: flex;
  justify-content: space-between;
}

.banner_box h1 {
  margin-bottom: 15px;
  text-align: left;
  font-size: 35px
}

.banner_box p {
  text-align: left;
}

.item {
  flex: 1;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  padding: 15px 20px;
}

/*--------------------------boxes section--------------------------*/

.boxes .container{
  display: flex;
  justify-content: space-between;
}

.boxes h2 {
  margin-bottom: 5px;
}

.boxes img {
  margin-top: 25px;
}

.boxes a {
  text-decoration: none;
}

.box{
  background: #333;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  padding: 15px 20px;
}

.list_box ul{
  list-style-type: disc;
}

.list_box ul ul{
  list-style-type: circle;
}

/* .box:hover {
  box-shadow: 5px 0px 25px black;
} */

/*--------------------------footer section--------------------------*/

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container img {
  width: 64px; 
  height: 64px; 
  border-radius: 100px;
}

.footer_box {
  border-radius: 10px;
  margin: 50px 15px;
}

.message {
  margin-top: 75px;
}

/*--------------------------responsive design--------------------------*/

@media(max-width: 700px) {
  .navbar .container .nav, .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .navbar .container .nav li{
    margin: 7px;
  }

  .banner_box .container, .boxes .container {
    display: block;
    text-align: center;
  }

  .banner_box .container, .boxes .container a {
    display: block;
    text-align: center;
  }

  .header .container img {
    width: 267px;
    height: 73px;
  }

  .banner .container h1{
    font-size: 20px;
  }
  
  .message {
    font-size: 15px;
  }
}